<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="SuperShop.Properties.Settings.ConnectionString" connectionString="Dsn=inventory;uid=root"
        providerName="System.Data.Odbc" />
    <add name="SuperShop.Properties.Settings.InventoryConnectionString"
        connectionString="Data Source=.\sqlexpress;Initial Catalog=Inventory;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
